[submodule "modules/authentification"]
	path = modules/authentification
	url = git@github.com:CDM-MNS/CDM-Authentification.git
    branch = main
[submodule "modules/user"]
	path = modules/user
	url = git@github.com:CDM-MNS/CDM-User.git
    branch = main
[submodule "modules/gateway"]
	path = modules/gateway
	url = git@github.com:CDM-MNS/CDM-Gateway.git
    branch = main
[submodule "modules/wallet"]
	path = modules/wallet
	url = git@github.com:CDM-MNS/CDM-Wallet.git
    branch = main
[submodule "modules/bet"]
	path = modules/bet
	url = git@github.com:CDM-MNS/CDM-Bet.git
    branch = main
